.App {
  text-align: center;
}
.header{
  background-color: #21313e;
  padding: 10px 15px;
  .logo{
    width: 200px;
  }
  .title{
    flex: 2 0 auto;
    color: white;
    font-weight: bold;
  }
}
.filter-container{
  padding: 10px 15px;
}
.custom-tooltip{
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px;
  .target_date{
    font-weight: bold;
  }
}
